<% include ../partials/header %>

<div class="container">
    <div class="row">
            <h1>Review <%= site.name %></h1>
            <div class="form-block">
                <form action="/sites/<%=site._id%>/comments" method="POST">
                    
                    <div class="form-group">
                        <textarea class="form-control" type="text" placeholder="Please include a few words on your experience at <%= site.name %>" name="comment[text]"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-medium btn-default btn-block">Submit</button>
                    </div>
                </form>
                
                <a class="form-control btn btn-small btn-info" href="/sites/<%= site._id %>">Back to <%= site.name %></a>
            </div>
    </div>
</div>
<% include ../partials/footer %>