<% include ../partials/header %>

<div class="container">
    
    <div class="row">
        <!--SIDE BAR-->
        <div class="col-md-3">
            <h2><%= site.name %></h2>
            
            <% for(var i=1; i <= site.rating; i++) { %>
                <i class="fa fa-star" aria-hidden="true"></i>
            <% } %>
            
            <% if ( (Math.round(site.rating *10)/10) % 1 >= 0.5 ) { %>
            
                <i class="fa fa-star-half" aria-hidden="true"></i>
            <% } %>

            <p><%= site.description %></p>
            
            <hr>

        <div class="user-interactions">
            <form action="/sites/<%= site._id %>/rate?_method=PUT" method="POST">
                <fieldset class="rate-stars show-site">
                    <input type="radio" id="star5" name="score" value="5" /><label class = "full" for="star5"></label>
                    <input type="radio" id="star4" name="score" value="4" /><label class = "full" for="star4"></label>
                    <input type="radio" id="star3" name="score" value="3" /><label class = "full" for="star3"></label>
                    <input type="radio" id="star2" name="score" value="2" /><label class = "full" for="star2"></label>
                    <input type="radio" id="star1" name="score" value="1" /><label class = "full" for="star1"></label>
                </fieldset> <br>
              <button class= "btn btn-success btn-sm">Rate Site</button>
            </form>
            <br>
            
            <a class="btn btn-success btn-sm " href="/sites/<%= site._id %>/comments/new">Leave Review</a>
            <a class="btn btn-success btn-sm" href="/sites/<%= site._id %>/newphoto">Add Photos</a><br><br>
        </div>
    </div>
        
        <!--MAIN CONTENT-->
        <div class="col-md-9">
            <div class="thumbnail">
                
                <!--SLIDESHOW-->
                
                <div id="slideshow" class="carousel slide" data-ride="carousel">
                    
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <img src= "<%= site.photos[0].link %>" class="img-responsive img-fluid">
                      <div class="carousel-caption">
                            <%= site.photos[0].caption %>
                            <br>
                            <p><i>Photo courtsey of</i> <a href="/user/<%= site.photos[0].author.id %>"><%= site.photos[0].author.username %></a></p>
                        </div>
                    </div>
                      
                    <% for(var i = 1; i < site.photos.length; i++) { %>
                      <div class="item">
                        <img src= <%= site.photos[i].link %>>
                        <div class="carousel-caption">
                            <%= site.photos[i].caption %>
                            <br>
                            <p><i>Photo courtsey of</i> <a href="/user/<%= site.photos[i].author.id %>"><%= site.photos[i].author.username %></a></p>
                        </div>
                      </div>
                    <% } %>
                    
                <!-- CONTROLS -->
                <a class="left carousel-control" href="#slideshow" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                 </a>
                 <a class="right carousel-control" href="#slideshow" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                 </a>
                </div>
                

                
                
                <!--CAPTION-->
                <div class="caption">
                    <div class="pull-right">
                        <% if(currentUser && site.author.id.equals(currentUser._id)) { %>
                            <a class="btn btn-warning btn-sm" href="/sites/<%= site._id %>/edit">Edit Site</a>
                        <% } %>
                    </div>
                    <em><h5>Site submitted by: <a href="/user/<%= site.author.id %>"><%= site.author.username %></a> </h5></em>

                </div>
                

            </div>
            
            <div class="well">
                <% site.comments.forEach(function(comment) { %>
                   <div class="row comment">
                       <div class="col-md-12">
                        <strong><a href="/user/<%= comment.author.id %>"><%= comment.author.username %></a></strong>
                        <span class="pull-right">2 days ago</span>
                        <p>
                          <%= comment.text %>
                        </p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                            <a class ="editcomment pull-right" href="/sites/<%= site._id %>/comments/<%= comment._id %>/edit">Edit</a>
                         <% } %>
                       </div>
                   </div>
               <% }) %>
           </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<% include ../partials/footer %>